extends layout

block content
  h1 Authors
  h3= 'Results ' + resultsAmount
  ul
    each author in authors
      if author
        li= author.first_name + ' ' + author.last_name
        li Books
        ul
          if author.books[0] !== null
            each book in author.books
              li
              a(href='/books/'+book)= book
          else
            li No Books Listed
        li
          form(action='/authors/'+ author.first_name + '~' + author.last_name)
            input(type='submit', value='Learn More About '+author.first_name + ' ' + author.last_name)
        img(class='portrait_img_small', src= author.portrait_url)
