extends layout

block content
  h1 Add New Book
  form(action='/books/new', method='post')
    label(for='title') Title
      input(name='title', type='text', placeholder='title')
    label(for='genre') Genre
      input(name='genre', type='text', placeholder='genre')
    label(for='cover_url') Cover Image URL
      input(name='cover_url', type='text', placeholder='url')
    label(for='description') Description
      textarea(name='description', placeholder='description')
    select(name='author') Author(s)
      option Authors
      each author in authors
        option(value= author.first_name + '~' + author.last_name)= author.first_name + ' ' + author.last_name
    input(type="submit", value="add book")
